html * {
  font-family: 'Roboto', sans-serif;
  color: #DDD
}

body {
  background: #333;
  margin: 0;
}

.header {
  padding: 1px;
  padding-left: 10px;
  background-color: #003B6D;
  font-size: 15px;
  text-align: left;
}

.header a {
  text-decoration: none;
}

.nav_bar {
  overflow: hidden;
  background-color: #555;
  margin-bottom: 40px;
}

.nav_bar a.login {
  float: right;
  margin-right: 0px;
}

.nav_bar a {
  float: left;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.nav_bar a:hover {
  background-color: #444;
}

.nav_bar a.currentpage {
  background-color: #888;
}

.clear {
  clear: both;
}

#footer {
  position: relative;
  left: 0; right: 0; bottom: 0;
  width: 100%;
  text-align: right;
  margin-top: 100px;
  padding-top: 1px;
  border-top: 1px solid grey;
  overflow: hidden;
}

#footer p {
  margin-right: 10px;
  color: #888;
}

.blog_post {
  background-color: #444;
  padding: 30px;
  width: 50%;
  float: left;
  margin-left: 75px;
  margin-bottom: 40px;
}

.blog_post a.post_category_heading {
  text-decoration: none;
  font-size: 15px;
  color: #6699CC;
}

.blog_post a.post_title {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  line-height: 2.0;
  color: #999;
}

p {
  line-height: 1.5;
}

.post_img {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.about_img {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.profile_img_container {
  float: right;
  margin-right: 75px;
  margin-bottom: 20px;
  width: 25%;
}

.profile_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon_links {
  margin: 20px;
  overflow: hidden;
}

.profile_link_icon {
  float: left;
  margin-right: 19px;
  margin-left: 19px;
  max-width: 30px;
}

.popular_post_sidebar {
  background-color: #444;
  padding: 10px 30px;
}

.popular_post_sidebar p.sidebar_title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #6699CC
}

li {
  margin-left: 0px;
  font-size: 22px;
  margin-bottom: 20px;
}

.sidebar_list a {
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

div.login_panel {
  border-top: 1px solid blue;
  background-color: #444;
  width: 350px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.textbox_container h3 {
  padding-left: 40px;
}

.textbox {
  width: 75%;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #555;
  padding: 5px;
  border: 0px;
}

div.login_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

input[type=submit] {
  display: block;
  text-align: center;
  height: 40px;
  margin: auto;
  width: 75%;
  background-color: #003B6D;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 0px;
}

.bad_message {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: center;
  text-align: center;
  background-color: #f7bec5;
  border: solid 3px #ddbfc4;
  color: #aa2222;
  width: 350px;
  padding: 10px 0px;
}

.good_message {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  float: center;
  text-align: center;
  background-color: #57cc99;
  border: solid 3px #555;
  color: #036c26;
  width: 350px;
  padding: 10px 0px;
}

.login_panel p {
  text-align: center;
}

.textbox_container p {
  margin-left: 40px;
  text-align: left;
  font-size: 13px;
  color: grey;
  margin-top: -10px;
}

p > a {
  text-decoration: none;
  color: lightblue;
}

#signup {
  margin-top: 50px;
  height: 480px;
}

#signup_button {
  margin-top: 30px;
}

.login_panel h1 {
  text-align: center;
}

.profile_content {
  float: left;
  width: 800px;
}

.profile_page_username {
  font-size: 48px;
  margin: 0px 40px 40px 40px;
}

.user_not_exist {
  margin: 200px 100px;
  font-size: 50px;
  text-align: center;
  color: #888;
}

.profile_page_sidebar {
  padding: 20px;
  float: right;
  margin: 0px 40px;
  width: 300px;
  background-color: #444
}

p.profile_sidebar_data_header {
  font-weight: bold;
  font-size: 22px;
  margin-left: 20px;
}

p.profile_sidebar_data {
  margin-left: 20px;
  font-size: 19px;
}

h2.profile_summary {
  text-align: center;
  text-decoration: underline;
}

h1.no_content {
  color: #DDDDDD;
  text-align: center;
  margin: 140px 10px;
}

h2.no_content {
  color: #888;
  text-align: center;
  margin: 40px 15px;
}

h1.unauthorized {
  text-align: center;
  font-size: 60px;
  height: 100%;
  margin: 25% 0%;
}

.textbox_container > h1{
  margin-left: 12%;
}

.dropdown {
  width: 25%;
  margin-left: 12%;
  height: 30px;
  font-size: 20px;
}

.post_content_area {
  width: 75%;
  margin-left: 12%;
  height: 300px;
  padding: 5px;
}

.create_button_container {
  float: right;
  width: 250px;
  margin-top: 30px;
  margin-right: 10%;
}

.login_message {
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
  background-color: #57cc99;
  border: solid 3px #bfddc1;
  color: #036c26;
  padding: 10px 27px;
}

.no_comment {
  padding: 10px 27px;
  width: 50%;
  float: left;
  margin-left: 75px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f7bec5;
  border: solid 3px #ddbfc4;
  color: #aa2222;
}

.comment_section {
  background-color: #444;
  padding: 10px 30px;
  width: 50%;
  float: left;
  margin-left: 75px;
  margin-bottom: 40px;
}

.rh_container {
  float: right;
  margin-right: 75px;
  width: 25%;
}

.comment_section textarea {
  min-width: 98.5%;
  max-width: 98.5%;
  min-height: 45px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #555
}

.submit_comment_button_container {
  float: right;
  width: 35%;
  margin-right: -30px;
}

.user_comments {
  padding: 10px 30px;
  width: 50%;
  float: left;
  margin-left: 75px;
  margin-bottom: 40px;
}

a.usrnm {
  font-weight: bold;
  text-decoration: none;
  color: #00186b;
}

a.usrnm:hover {
  color: #1640a8;
}

hr {
  display: block;
  border-width: 0.1px;
  border-color: #AAA;
}

.timestamp {
  color: #888;
  font-size: 12px;
  float: right;
  margin-top: auto;
}

.userpage_cmmnt {
  background-color: #444;
  padding: 30px;
  width: 75%;
  float: left;
  margin-left: 75px;
  margin-bottom: 40px;
}

.userpage_post_title {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.0;
  color: #999;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}
